font_family {{ .font_mono }}
font_size 12

disable_ligatures no
enable_audio_bell no

shell_integration disabled

cursor_shape beam
cursor_blink true
cursor_trail 10
cursor_trail_start_threshold 0
cursor_trail_decay 0.01 0.05

url_style curly
sync_to_monitor no

remember_window_size no
initial_window_width 640
initial_window_height 480
window_padding_width 20

scrollbar_handle_opacity 0
scrollbar_track_opacity 0
scrollbar_track_hover_opacity 0

confirm_os_window_close 0

include theme.conf