[general]
import = [
  "~/.config/alacritty/custom-theme.toml"
]

[window]
padding = { x = 12, y = 12 }
decorations = "None"

[font]
normal = { family = "{{ .font_mono }}", style = "Regular" }
size = 12

[cursor]
style = { shape = "Beam", blinking = "On" }

[env]
TERM = "xterm-256color"