pragma Singleton
import QtQuick

QtObject {
    readonly property color bg: "#1e1e2e"
    readonly property color fg: "#cdd6f4"
    readonly property color muted: "#585b70"
    readonly property color cyan: "#89dceb"
    readonly property color purple: "#cba6f7"
    readonly property color red: "#f38ba8"
    readonly property color yellow: "#f9e2af"
    readonly property color blue: "#89b4fa"

    readonly property string fontFamily: "{{ .mono_font }}"
    readonly property int fontSize: 14
}
