{
  "$schema": "https://vicinae.com/schemas/config.json",

  "pop_to_root_on_close": true,
  "favicon_service": "twenty",
  "search_files_in_root": false,

  "tray": { "enabled": false },

  "font": {
    "normal": {
      "family": "{{ .mono_font }}",
      "size": 12
    }
  },

  "theme": {
    "light": { "name": "catppuccin-latte" },
    "dark": { "name": "catppuccin-mocha" }
  },

  "telemetry": { "system_info": false },

  "favorites": [],

  "launcher_window": {
    "client_side_decorations": { "enabled": false }
  },

  "providers": {
    "@sovereign/awww-switcher": {
      "preferences": {
        "gridRows": "6",
        "transitionType": "any",
        "wallpaperPath": "{{ .chezmoi.homeDir }}/Pictures/Wallpapers"
      }
    },
    "browser-extension": { "enabled": false },
    "clipboard": {
      "preferences": { "eraseOnStartup": true }
    },
    "core": {
      "entrypoints": {
        "about": { "enabled": false },
        "documentation": { "enabled": false },
        "keybind-settings": { "enabled": false },
        "manage-fallback": { "enabled": false },
        "open-config-file": { "enabled": false },
        "open-default-config": { "enabled": false },
        "report-bug": { "enabled": false },
        "search-tray": { "enabled": false },
        "show-logs": { "enabled": false },
        "sponsor": { "enabled": false }
      }
    },
    "developer": { "enabled": false },
    "files": { "enabled": false },
    "manage-shortcuts": { "enabled": false },
    "media": { "enabled": false },
    "power": { "enabled": false },
    "scripts": { "enabled": false },
    "shortcuts": { "enabled": false },
    "snippets": { "enabled": false },
    "system": { "enabled": false },
    "theme": { "enabled": false },
    "wm": { "enabled": false }
  }
}
