{
  "search_files_in_root": false,
  "close_on_focus_lost": false,
  "pop_to_root_on_close": false,

  "favicon_service": "twenty",

  "font": {
    "normal": {
      "family": {{ .font_mono }},
      "size": 12
    }
  },

  "theme": {
    "dark": {
      "name": "catppuccin-mocha",
      "icon_theme": "{{ .icon }}"
    },
    "light": {
      "name": "catppuccin-latte",
      "icon_theme": "{{ .icon }}"
    }
  },

  "launcheur_window": {
    "opacity": 0.8
  },

  "favorites": []
}
