# This file is not directly linked to ly, see /etc/ly/config.ini

animation = colormix
colormix_col1 = 0x00FF0000
colormix_col2 = 0x000000FF
colormix_col3 = 0x20000000

bigclock = en
clock = %d/%m/%y

{{- if eq .is_laptop false }}
brightness_down_key = null
brightness_up_key = null
{{- end }}

clear_password = true
default_input = password

edge_margin = 2

box_title = Welcome