[user]
	email = "{{ .git_email }}"
	name = "{{ .git_name }}"

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[url "git@github.com:"]
	insteadOf = gh:

[url "git@github.com:{{ .github_username }}/"]
	insteadOf = me:

{{- $ghPath := lookPath "gh" }}

[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential

[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true