[user]
	email = "{{ .git_email }}"
	name = "{{ .git_name }}"
{{- if .bitwarden_ssh }}
	signingkey = {{ (bitwarden "item" "git-sign").sshKey.publicKey }}
{{- else }}
	signingkey = "{{ .git_signing_key }}"
{{- end }}

[gpg]
  format = "ssh"

[commit]
	gpgsign = true
	verbose = true

[tag]
	gpgSign = true
	sort = -version:refname

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[branch]
	sort = -committerdate

[url "git@github.com:"]
	insteadOf = gh:

[url "git@gitlab.com:"]
	insteadOf = gl:

[url "git@github.com:{{ .github_username }}/"]
	insteadOf = me:
