[user]
	email = "{{ .git_email }}"
	name = "{{ .git_name }}"
	signingkey = "~/.ssh/id_ed25519_sign.pub"

[gpg]
    format = "ssh"

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[url "git@github.com:"]
	insteadOf = gh:

[url "git@gitlab.com:"]
	insteadOf = gl:

[url "git@github.com:{{ .github_username }}/"]
	insteadOf = me:

[credential "https://github.com"]
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper = !gh auth git-credential