{
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },

  "theme": "Catppuccin Mocha",
  "icon_theme": "Warm Charmed Icons",

  "title_bar": {
    "show_onboarding_banner": false,
    "show_project_items": false,
    "show_branch_name": false,
    "show_user_menu": false,
  },
  "tab_bar": {
    "show_nav_history_buttons": false,
    "show_tab_bar_buttons": false,
  },
  "toolbar": { "quick_actions": false },
  "status_bar": { "experimental.show": false },
  "scrollbar": { "show": "never" },
  "gutter": {
    "min_line_number_digits": 0,
    "folds": false,
    "runnables": false,
  },

  "git_panel": {
    "dock": "right",
    "file_icons": true,
  },
  "project_panel": {
    "dock": "right",
    "auto_fold_dirs": false,
    "hide_root": true,
    "indent_size": 12,
    "sticky_scroll": false,
  },
  "collaboration_panel": {
    "dock": "left",
  },
  "agent": {
    "play_sound_when_agent_done": "always",
    "dock": "left",
  },
  "outline_panel": {
    "dock": "left",
  },

  "base_keymap": "VSCode",

  "drag_and_drop_selection": { "enabled": false },
  "show_whitespaces": "none",
  "extend_comment_on_newline": false,

  "close_on_file_delete": true,
  "restore_on_startup": "empty_tab",
  "session": { "restore_unsaved_buffers": false },
  "middle_click_paste": false,

  "buffer_font_family": "{{ .mono_font }}",
  "ui_font_family": "{{ .mono_font }}",
  "buffer_font_size": 15,
  "ui_font_size": 14.5,

  "image_viewer": { "unit": "decimal" },

  "colorize_brackets": true,
  "indent_guides": { "coloring": "indent_aware" },

  "format_on_save": "on",
  "autosave": "on_focus_change",

  "max_tabs": 6,
  "tab_size": 2,

  "minimap": {
    "show": "always",
    "display_in": "all_editors",
    "max_width_columns": 50,
  },

  "diagnostics": {
    "inline": {
      "enabled": true,
    },
  },

  "languages": {
    "TypeScript": {
      "code_actions_on_format": {
        "source.organizeImports": true,
        "source.removeUnusedImports": true,
      },
    },
    "TSX": {
      "code_actions_on_format": {
        "source.organizeImports": true,
        "source.removeUnusedImports": true,
      },
    },
  },

  "lsp": {
    "tailwindcss-language-server": {
      "settings": {
        "classFunctions": ["cva", "cx"],
      },
    },
    "biome": {
      "settings": {
        "require_config_file": true,
      },
    },
  },

  "auto_install_extensions": {
    "html": true,
    "scss": true,
    "toml": true,
    "catppuccin": true,
    "charmed-icons": true,
    "biome": true,
    "dockerfile": true,
    "docker-compose": true,
    "emmet": true,
    "sql": true,
    "xml": true,
    "zig": true,
    "astro": true,
    "vue": true,
    "svelte": true,
    "terraform": true,
    "prisma": true,
    "git-firefly": true,
    "make": true,
    "fish": true,
    "lua": true,
    "qml": true,
  },
}
