[Appearance]
color_scheme_path={{ .chezmoi.homeDir }}/.config/qt6ct/style-colors.conf
custom_palette=true
standard_dialogs=xdgdesktopportal
style=kvantum

[Fonts]
fixed="Meslo LGM Nerd Font, 11"
general="Montserrat,11"