README.md
LICENSE
install.sh

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/hypr
.config/kitty
.config/pipes-rs
{{ end }}