{{- $osID := .chezmoi.os -}}
{{- if (hasKey .chezmoi "osRelease") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- end -}}

data:
  name: "pier"
  email: "pierre@houlliere.com"
  git_name: "Pierre"
  git_email: "git@houlliere.com"
  osid: {{ $osID | quote }}