{{- $osID := .chezmoi.os -}}
{{- if (hasKey .chezmoi "osRelease") -}}
{{-   $osID = .chezmoi.osRelease.id -}}
{{- end -}}

{{- $name := "pier" -}}
{{- $email := "pierre@houlliere.com" -}}

{{- $git_name := "Pierre" -}}
{{- $git_email := "git@houlliere.com" -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  git_name: {{ $git_name | quote }}
  git_email: {{ $git_email | quote }}
  osid: {{ $osID | quote }}