{
  // Theme Settings
  "workbench.iconTheme": "flow-dim",
  "workbench.colorTheme": "Catppuccin Mocha",

  // Layout and Appearance
  "workbench.startupEditor": "none",
  "workbench.layoutControl.enabled": false,
  "workbench.activityBar.location": "hidden",
  "workbench.sideBar.location": "right",
  "window.commandCenter": false,
  "window.titleBarStyle": "native",
  "window.menuBarVisibility": "toggle",
  "editor.accessibilitySupport": "off",
  "editor.bracketPairColorization.enabled": true,
  "editor.guides.bracketPairs": true,
  "breadcrumbs.filePath": "off",
  "explorer.compactFolders": false,

  // Font Settings
  "editor.fontFamily": "{{ .mono_font }}",
  "editor.fontSize": 16,
  "editor.fontLigatures": true,
  "terminal.integrated.fontFamily": "{{ .mono_font }}",
  "terminal.integrated.fontSize": 15,
  "scm.inputFontFamily": "{{ .mono_font }}",
  "chat.editor.fontFamily": "{{ .mono_font }}",
  "debug.console.fontFamily": "{{ .mono_font }}",
  "editor.codeLensFontFamily": "{{ .mono_font }}",
  "notebook.output.fontFamily": "{{ .mono_font }}",
  "markdown.preview.fontFamily": "{{ .mono_font }}",
  "editor.inlayHints.fontFamily": "{{ .mono_font }}",

  // File Management
  "files.enableTrash": true,
  "files.autoSave": "onFocusChange",
  "files.trimTrailingWhitespace": true,

  // Editor Behavior
  "editor.linkedEditing": true,
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll": "explicit",
    "source.organizeImports": "explicit"
  },
  "editor.cursorSmoothCaretAnimation": "on",
  "editor.smoothScrolling": true,
  "workbench.list.smoothScrolling": true,
  "terminal.integrated.smoothScrolling": true,
  "editor.cursorBlinking": "expand",

  // Git Settings
  "git.autofetch": true,
  "git.confirmSync": false,
  "git.ignoreRebaseWarning": true,
  "git.enableSmartCommit": true,

  // Confirmation Settings
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,

  // File Limitations
  "workbench.editor.limit.enabled": true,
  "workbench.editor.limit.value": 6,

  // Formatter Settings
  "prettier.printWidth": 120,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.tabSize": 2,
  "[prisma]": {
    "editor.defaultFormatter": "Prisma.prisma"
  },
  "[python]": {
    "editor.defaultFormatter": "charliermarsh.ruff"
  },
  "prettier.documentSelectors": ["**/*.astro"],

  // TypeScript Settings
  "js/ts.inlayHints.parameterNames.enabled": "all",
  "js/ts.updateImportsOnFileMove.enabled": "always",

  // Discord RPC
  "discord.swapBigAndSmallImage": true,

  // Copilot
  "github.copilot.nextEditSuggestions.enabled": false,
  "chat.disableAIFeatures": false,
  "github.copilot.enable": {
    "*": true
  },

  // Telemetry
  "telemetry.telemetryLevel": "off"
}