[user]
{{- with get . "git_name" }}
	name = {{ . | quote }}
{{- end }}
{{- with get . "git_email" }}
	email = {{ . | quote }}
{{- end }}
{{- with get . "git_signing_key" }}
	signingkey = {{ . | quote }}

[gpg]
	format = "ssh"

[gpg "ssh"]
	allowedSignersFile = "~/.config/git/allowed_signers"

[commit]
	gpgsign = true

[tag]
	gpgSign = true
{{- end }}

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[url "git@github.com:"]
	insteadOf = gh:

[url "git@gitlab.com:"]
	insteadOf = gl:
