[user]
	email = "{{ .git_email }}"
	name = "{{ .git_name }}"
{{- if .bitwarden_ssh }}
	signingkey = {{ (bitwarden "item" "git-sign").sshKey.publicKey }}

[gpg]
  format = "ssh"

[commit]
	gpgsign = true

[tag]
	gpgSign = true
{{- end }}

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[url "git@github.com:"]
	insteadOf = gh:

[url "git@gitlab.com:"]
	insteadOf = gl:
