{
  "theme": {
    "mode": "system",
    "light": "Catppuccin Latte",
    "dark": "Catppuccin Mocha",
  },

  "icon_theme": "Catppuccin Mocha",

  "base_keymap": "VSCode",

  "cli_default_open_behavior": "new_window",

  "buffer_font_family": "{{ .mono_font }}",
  "buffer_font_size": 15,
  "ui_font_size": 15,

  "image_viewer": {
    "unit": "decimal",
  },

  "colorize_brackets": true,
  "indent_guides": {
    "coloring": "indent_aware",
  },

  "format_on_save": "on",
  "autosave": "on_focus_change",

  "middle_click_paste": false,

  "minimap": {
    "show": "always",
    "display_in": "all_editors",
    "max_width_columns": 65,
  },

  "tab_bar": {
    "show_nav_history_buttons": false,
  },

  "diagnostics": {
    "include_warnings": true,
    "inline": {
      "enabled": true,
      "update_debounce_ms": 150,
      "padding": 4,
      "min_column": 0,
      "max_severity": null,
    },
  },

  "edit_predictions": {
    "provider": "zed",
    "copilot": {
      "enable_next_edit_suggestions": false,
    },
  },

  "agent": {
    "inline_assistant_model": {
      "provider": "zed.dev",
      "model": "gemini-3-flash",
      "enable_thinking": false,
    },
    "play_sound_when_agent_done": "always",
    "dock": "left",
    "default_profile": "write",
    "default_model": {
      "effort": "high",
      "provider": "zed.dev",
      "model": "claude-sonnet-4-6",
      "enable_thinking": true,
    },
  },

  "git_panel": {
    "dock": "right",
  },
  "project_panel": {
    "dock": "right",
    "auto_fold_dirs": false,
    "indent_size": 12,
  },
  "collaboration_panel": {
    "button": false,
  },

  "max_tabs": 6,

  "languages": {
    "TypeScript": {
      "code_actions_on_format": {
        "source.organizeImports": true,
        "source.removeUnusedImports": true,
      },
    },
    "TSX": {
      "code_actions_on_format": {
        "source.organizeImports": true,
        "source.removeUnusedImports": true,
      },
    },
  },

  "lsp": {
    "tailwindcss-language-server": {
      "settings": {
        "classFunctions": ["cva", "cx"],
      },
    },
    "biome": {
      "settings": {
        "require_config_file": true,
      },
    },
  },

  "tab_size": 2,

  "auto_install_extensions": {
    "html": true,
    "scss": true,
    "toml": true,
    "catppuccin": true,
    "catppuccin-icons": true,
    "biome": true,
    "java": true,
    "dockerfile": true,
    "docker-compose": true,
    "php": true,
    "sql": true,
    "xml": true,
    "csharp": true,
    "zig": true,
    "astro": true,
    "vue": true,
    "svelte": true,
    "terraform": true,
    "prisma": true,
    "git-firefly": true,
    "make": true,
  },

  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },
}
