{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.chezmoidata/services.yaml
.chezmoiexternals/fonts.toml

.var/**

.config/fastfetch/**
.config/cosmic/**
.config/fish/**
.config/cosmic-initial-setup-done
{{ end }}