{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.chezmoiexternals/fonts.toml
.chezmoiexternals/extensions.toml

.config/fastfetch/**
.config/vicinae/**
.config/mise/**
.config/ly/**
.config/dnf/**
.config/ghosty/**
.config/environment.d/**
.config/hypr/**
.config/fish/**
{{ end }}