{{ if ne .osid "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .osid "linux-arch" }}
.chezmoiscripts/linux/**

.config/hypr
.config/waybar
.config/btop
.config/kitty
.config/ly
.config/vicinae
.config/cava
.config/Thunar
.config/Kvantum
.config/qt5ct
.config/qt6ct
.config/gtk-3.0
.config/gtk-4.0
.config/fastfetch
.config/mimeapps.list
{{ end }}