{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
  osid = {{ $osid | quote }}
  name = {{ promptStringOnce . "name" "What is your name" | quote }}
  git_name = {{ promptStringOnce . "git_name" "What is your git username" | quote }}
  git_email = {{ promptStringOnce . "git_email" "What is your git email" | quote }}