{{- if eq .osid "linux-arch" -}}
if [[ "$TERM" == "xterm-kitty" ]]; then
  alias ssh="kitten ssh"
fi

export "MICRO_TRUECOLOR=1"

alias nano=micro
{{- end }}

HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000

bindkey -e

zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'
autoload -Uz compinit
compinit

alias cat=bat
alias ls="eza -l --icons --group-directories-first --git"
alias l="eza --icons -a --group-directories-first -1"
alias ll="eza --icons -a --group-directories-first -1 --no-user --long"
alias tree="eza --icons --tree --group-directories-first"

source <(fzf --zsh)

eval "$(starship init zsh)"
eval "$(zoxide init zsh)"