# starship
eval "$(starship init zsh)"

{{ if eq .chezmoi.os "linux"}}
# variables
export EDITOR="code --wait"
export BROWSER=zen-browser
export FILE_MANAGER=thunar
export TERMINAL=kitty

export QT_QPA_PLATFORMTHEME=qt6ct
{{ end }}