[main]
include=~/.config/foot/catppuccin-mocha.ini
term=xterm-256color
font={{ .mono_font }}:size=12
pad=14x14
initial-window-mode=windowed
workers=0

[scrollback]
lines=10000
multiplier=7.0

[cursor]
style=beam
blink=yes
