{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/themes.sh

.config/mise/**
.config/alacritty/**
.config/hypr/**
.config/uwsm/**
.config/fish/**
.config/gtk-3.0/**
.config/gtk-4.0/**
.config/qt6ct/**
.config/noctalia/**
.config/xdg-desktop-portal/**
.local/share/wallpapers/**
{{ end }}
