{{ if ne .chezmoi.os "linux" }}
.chezmoiexternals/extensions.toml
.chezmoiexternals/themes.toml

.chezmoiscripts/run_once_after_themes.sh

.config/fastfetch/**
.config/vicinae/**
.config/mise/**
.config/foot/**
.config/hypr/**
.config/uwsm/**
.config/fish/**
.config/Kvantum/**
.config/gtk-3.0/**
.config/gtk-4.0/**
.config/qt5ct/**
.config/qt6ct/**
.config/cava/**
{{ end }}
