{{ if ne .chezmoi.os "linux" }}
.chezmoiexternals/fonts.toml
.chezmoiexternals/extensions.toml
.chezmoiexternals/themes.toml

.chezmoiscripts/run_onchange_ly.sh
.chezmoiscripts/run_once_flatpak_themes.sh

.config/fastfetch/**
.config/vicinae/**
.config/mise/**
.config/ly/**
.config/dnf/**
.config/ghostty/**
.config/hypr/**
.config/micro/**
.config/environment.d/**
.config/fish/**
.config/Kvantum/**
.config/gtk-3.0/**
.config/gtk-4.0/**
{{ end }}
