{{- $bitwarden_ssh := promptBoolOnce . "bitwarden_ssh" "Use Bitwarden for SSH keys and commit signing" false -}}
{{- $git_name := promptStringOnce . "git_name" "Git name (leave blank to skip)" "" -}}
{{- $git_email := promptStringOnce . "git_email" "Git email (leave blank to skip)" "" -}}
[data]
  bitwarden_ssh = {{ $bitwarden_ssh }}
  mono_font = "JetBrainsMono Nerd Font Mono"
  cursor_theme = "Bibata-Modern-Ice"
  cursor_size = 28
  git_name = {{ $git_name | quote }}
  git_email = {{ $git_email | quote }}
{{- if eq .chezmoi.os "linux" }}

[bitwarden]
  command = {{ joinPath .chezmoi.sourceDir ".bin/bw" | quote }}
{{- end }}
