{{- $bitwarden_ssh := promptBoolOnce . "bitwarden_ssh" "Use the Bitwarden SSH agent" false -}}
{{- $git_signing_key := "" -}}
{{- if $bitwarden_ssh -}}
{{-   $git_signing_key = promptStringOnce . "git_signing_key" "SSH public key for commit signing (leave blank to skip)" "" -}}
{{- end -}}
{{- $git_name := promptStringOnce . "git_name" "Git name (leave blank to skip)" "" -}}
{{- $git_email := promptStringOnce . "git_email" "Git email (leave blank to skip)" "" -}}
[data]
  bitwarden_ssh = {{ $bitwarden_ssh }}
  mono_font = "JetBrainsMono Nerd Font Mono"
  cursor_theme = "Bibata-Modern-Ice"
  cursor_size = 28
  git_name = {{ $git_name | quote }}
  git_email = {{ $git_email | quote }}
  git_signing_key = {{ $git_signing_key | quote }}
