[Settings]
gtk-theme-name=Adwaita
gtk-icon-theme-name={{ .icon }}
gtk-font-name=Adwaita Sans 11
gtk-cursor-theme-name={{ .cursor_name }}
gtk-cursor-theme-size={{ .cursor_size }}
gtk-application-prefer-dark-theme=1