@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");

body {
  --font: "figtree";
  --code-font: "";
  font-weight: 400;

  --gap: 12px;
  --divider-thickness: 4px;
  --border-thickness: 1px;

  --animations: on;
  --list-item-transition: 0.2s ease;
  --dms-icon-svg-transition: 0.4s ease;
  --border-hover-transition: 0.2s ease;

  --top-bar-height: var(--gap);
  --top-bar-button-position: titlebar;
  --top-bar-title-position: off;
  --subtle-top-bar-title: off;

  --custom-window-controls: on;
  --window-control-size: 14px;

  --custom-dms-icon: hide;
  --dms-icon-svg-url: url("https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg");
  --dms-icon-svg-size: 90%;
  --dms-icon-color-before: var(--icon-subtle);
  --dms-icon-color-after: var(--white);
  --custom-dms-background: image;
  --dms-background-image-url: url("https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png");
  --dms-background-image-size: cover;
  --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));

  --background-image: off;
  --background-image-url: url("");

  --transparency-tweaks: off;
  --remove-bg-layer: off;
  --panel-blur: off;
  --blur-amount: 12px;
  --bg-floating: var(--bg-3);

  --custom-chatbar: off;
  --chatbar-height: 47px;

  --small-user-panel: on;
}

:root {
  --colors: on;

  --text-0: var(--bg-3);
  --text-1: hsl(226, 64%, 95%);
  --text-2: #cdd6f4;
  --text-3: #bac2de;
  --text-4: #7f849c;
  --text-5: #585b70;

  --bg-1: #45475a;
  --bg-2: #313244;
  --bg-3: #181825;
  --bg-4: #1e1e2e;
  --hover: hsla(235, 15%, 53%, 0.1);
  --active: hsla(235, 15%, 53%, 0.2);
  --active-2: hsla(235, 15%, 53%, 0.3);
  --message-hover: hsla(235, 0%, 0%, 0.1);

  --accent-1: var(--purple-1);
  --accent-2: var(--purple-2);
  --accent-3: var(--purple-3);
  --accent-4: var(--purple-4);
  --accent-5: var(--purple-5);
  --accent-new: var(--accent-2);
  --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent);
  --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent);
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);

  --online: var(--green-2);
  --dnd: var(--red-2);
  --idle: var(--yellow-2);
  --streaming: var(--purple-2);
  --offline: var(--text-4);

  --border-light: var(--hover);
  --border: var(--active);
  --border-hover: var(--active);
  --button-border: hsl(235, 0%, 100%, 0.1);

  --red-1: hsl(343deg, 81%, 80%);
  --red-2: hsl(343deg, 81%, 75%);
  --red-3: hsl(343deg, 81%, 75%);
  --red-4: hsl(343deg, 81%, 70%);
  --red-5: hsl(343deg, 81%, 65%);

  --green-1: hsl(115deg, 54%, 81%);
  --green-2: hsl(115deg, 54%, 76%);
  --green-3: hsl(115deg, 54%, 76%);
  --green-4: hsl(115deg, 54%, 71%);
  --green-5: hsl(115deg, 54%, 66%);

  --blue-1: hsl(199deg, 76%, 74%);
  --blue-2: hsl(199deg, 76%, 69%);
  --blue-3: hsl(199deg, 76%, 69%);
  --blue-4: hsl(199deg, 76%, 64%);
  --blue-5: hsl(199deg, 76%, 59%);

  --yellow-1: hsl(41deg, 86%, 88%);
  --yellow-2: hsl(41deg, 86%, 83%);
  --yellow-3: hsl(41deg, 86%, 83%);
  --yellow-4: hsl(41deg, 86%, 78%);
  --yellow-5: hsl(41deg, 86%, 73%);

  --purple-1: hsl(267deg, 84%, 86%);
  --purple-2: hsl(267deg, 84%, 81%);
  --purple-3: hsl(267deg, 84%, 81%);
  --purple-4: hsl(267deg, 84%, 76%);
  --purple-5: hsl(267deg, 84%, 71%);
}
