* {
  font-family: "{{ .font_mono }} Propo";
  font-size: 16px;
}

window#waybar > box {
  padding-top: 15px;
  padding-bottom: 8px;
}

window#waybar {
  color: #cdd6f4;
  border: 2px solid #45475a;
  background: #1e1e2e;
}

tooltip {
  background: #1e1e2e;
  border: 1.5px solid #45475a;
  opacity: 0.85;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  padding: 0;
  background: none;
  border: none;
  transition: all 0.3s ease;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #cba6f7;
}

#workspaces button.active {
  color: #cba6f7;
}

#workspaces button.empty {
  color: #45475a;
}

#workspaces button.empty.active {
  color: #cba6f7;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#custom-notifications {
  margin-bottom: 12px;
}

#image {
  margin-bottom: 5px;
}

#custom-sep {
  color: #45475a;
}