* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
}

window#waybar {
  border-radius: 8px;
  color: #cdd6f4;
  border: 2px solid #45475a;
  background: #181825;
  opacity: 0.85;
}

tooltip {
  background: #181825;
  border: 1.5px solid #45475a;
  opacity: 0.85;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  padding: 0;
  background: transparent;
  transition: all 0.3s ease;
  font-size: 14px;
}

#workspaces button:hover {
  color: #cba6f7;
}

#workspaces button.active {
  color: #cba6f7;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#custom-notifications {
  margin-bottom: 15px;
}

#image {
  margin-top: 15px;
  margin-bottom: 10px;
}

#custom-sep {
  color: #45475a;
}
