$terminal = {{ .terminal }}
$browser = zen-browser
$fileManager = thunar
$taskManager = $terminal -e btop
$docker = $terminal -e lazydocker
$music = spotify-launcheur
$ai = https://gemini.google.com

env = TERMINAL,$terminal
env = EDITOR,code --wait

env = QT_QPA_PLATFORMTHEME,qt6ct

env = HYPRCURSOR_THEME,{{ .cursor_name }}
env = HYPRCURSOR_SIZE,{{ .cursor_size }}
env = XCURSOR_THEME,{{ .cursor_name }}
env = XCURSOR_SIZE,{{ .cursor_size }}