$browser = zen-browser
$fileManager = thunar
$terminal = {{ .terminal }}

env = TERMINAL,$terminal
env = EDITOR,code --wait

env = QT_QPA_PLATFORMTHEME,qt6ct

env = HYPRCURSOR_THEME,Bibata-Modern-Ice
env = HYPRCURSOR_SIZE,32