source = ./envs.conf
source = ./animations.conf
source = ./execs.conf
source = ./keybindings.conf
source = ./theme.conf
source = ./userprefs.conf
source = ./windowrules.conf

# Managed by nwg-displays
source = ./monitors.conf
source = ./workspaces.conf