$mainMod = SUPER

misc:middle_click_paste = false

bind = $mainMod, Return, exec, $terminal
bind = $mainMod Shift, F, exec, $fileManager
bind = $mainMod Shift, T, exec, $taskManager
bind = $mainMod Shift, M, exec, $music
bind = $mainMod Shift, B, exec, $browser
bind = $mainMod Shift, D, exec, $docker
bind = $mainMod Shift, G, exec, $git
bind = $mainMod Shift Alt, B, exec, $private
bind = $mainMod Shift, A, exec, $ai

bind = $mainMod, Escape, exec, ~/.config/hypr/scripts/power-menu.sh

bind = $mainMod, Space, exec, vicinae toggle
bind = $mainMod Ctrl, V, exec, vicinae vicinae://extensions/vicinae/clipboard/history
bind = $mainMod Ctrl, E, exec, vicinae vicinae://extensions/vicinae/core/search-emojis
bind = $mainMod Ctrl, W, exec, vicinae vicinae://extensions/sovereign/awww-switcher/wpgrid

bind = $mainMod, T, togglefloating
bind = $mainMod, P, pseudo
bind = $mainMod, F, fullscreen
bind = $mainMod, W, togglesplit

bind = $mainMod, Q, killactive

bind = $mainMod, G, togglegroup
bind = $mainMod Alt, G, moveoutofgroup
bind = $mainMod Alt, Tab, changegroupactive, f

bind = $mainMod, Tab, cyclenext

bind = $mainMod, right, movefocus, r
bind = $mainMod, left, movefocus, l
bind = $mainMod, up, movefocus, u
bind = $mainMod, down, movefocus, d

bind = $mainMod Shift, right, movewindow, r
bind = $mainMod Shift, left, movewindow, l
bind = $mainMod Shift, up, movewindow, u
bind = $mainMod Shift, down, movewindow, d

binde = $mainMod Ctrl, right, resizeactive, 20 0
binde = $mainMod Ctrl, left, resizeactive, -20 0
binde = $mainMod Ctrl, up, resizeactive, 0 -20
binde = $mainMod Ctrl, down, resizeactive, 0 20

bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

bind = $mainMod, code:10, workspace, 1
bind = $mainMod, code:11, workspace, 2
bind = $mainMod, code:12, workspace, 3
bind = $mainMod, code:13, workspace, 4
bind = $mainMod, code:14, workspace, 5
bind = $mainMod, code:15, workspace, 6
bind = $mainMod, code:16, workspace, 7
bind = $mainMod, code:17, workspace, 8
bind = $mainMod, code:18, workspace, 9
bind = $mainMod, code:19, workspace, 10

bind = $mainMod Shift, code:10, movetoworkspacesilent, 1
bind = $mainMod Shift, code:11, movetoworkspacesilent, 2
bind = $mainMod Shift, code:12, movetoworkspacesilent, 3
bind = $mainMod Shift, code:13, movetoworkspacesilent, 4
bind = $mainMod Shift, code:14, movetoworkspacesilent, 5
bind = $mainMod Shift, code:15, movetoworkspacesilent, 6
bind = $mainMod Shift, code:16, movetoworkspacesilent, 7
bind = $mainMod Shift, code:17, movetoworkspacesilent, 8
bind = $mainMod Shift, code:18, movetoworkspacesilent, 9
bind = $mainMod Shift, code:19, movetoworkspacesilent, 10

bind = $mainMod Alt, code:10, movetoworkspace, 1
bind = $mainMod Alt, code:11, movetoworkspace, 2
bind = $mainMod Alt, code:12, movetoworkspace, 3
bind = $mainMod Alt, code:13, movetoworkspace, 4
bind = $mainMod Alt, code:14, movetoworkspace, 5
bind = $mainMod Alt, code:15, movetoworkspace, 6
bind = $mainMod Alt, code:16, movetoworkspace, 7
bind = $mainMod Alt, code:17, movetoworkspace, 8
bind = $mainMod Alt, code:18, movetoworkspace, 9
bind = $mainMod Alt, code:19, movetoworkspace, 10

bind = $mainMod, mouse_down, workspace, e-1
bind = $mainMod, mouse_up, workspace, e+1

bind = $mainMod, X, togglespecialworkspace
bind = $mainMod Alt, X, movetoworkspace, e+0
bind = $mainMod Shift, X, movetoworkspacesilent, special

bind = $mainMod Shift, P, exec, hyprpicker -aln
bind = $mainMod Shift, S, exec, grim -g "$(slurp)" -t ppm - | satty --filename - --output-filename ~/Pictures/Screenshots/$(date +%s).png

bindel = , XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+
bindel = , XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindl = , XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindl = , XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
{{- if eq .is_laptop true }}
bindl = , XF86MonBrightnessUp, exec, brightnessctl -e4 -n2 set 5%+
bindl = , XF86MonBrightnessDown, exec, brightnessctl -e4 -n2 set 5%-
{{- end }}

bindl = , XF86AudioNext, exec, playerctl next
bindl = , XF86AudioPause, exec, playerctl play-pause
bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioPrev, exec, playerctl previous