input {
  follow_mouse = 1
  kb_layout = fr
  repeat_delay = 250
  repeat_rate = 35
  sensitivity = 0

  touchpad {
    disable_while_typing = true
    natural_scroll = true
    scroll_factor = 0.8
  }
}

cursor {
  inactive_timeout = 30
  no_hardware_cursors = true
}

{{- if eq .is_laptop true }}
gesture = 3, horizontal, workspace
{{- end }}

ecosystem {
  no_update_news = true
}

misc {
  disable_hyprland_logo = true
  disable_splash_rendering = true
  focus_on_activate = true
  session_lock_xray = 1
}