{{- $files_themes := dict
  ".config/kitty/catppuccin-mocha.conf" "https://raw.githubusercontent.com/catppuccin/kitty/refs/heads/main/themes/mocha.conf"
  ".config/micro/colorschemes/catppuccin-mocha-transparent.micro" "https://raw.githubusercontent.com/catppuccin/micro/refs/heads/main/themes/catppuccin-mocha-transparent.micro"
  ".config/bat/Catppuccin Mocha.tmTheme" "https://raw.githubusercontent.com/catppuccin/bat/refs/heads/main/themes/Catppuccin%20Mocha.tmTheme"
  ".config/btop/themes/catppuccin_mocha.theme" "https://raw.githubusercontent.com/catppuccin/btop/refs/heads/main/themes/catppuccin_mocha.theme"
  ".config/cava/config" "https://raw.githubusercontent.com/catppuccin/cava/refs/heads/main/themes/mocha-transparent.cava"
  ".config/hypr/colors.conf" "https://raw.githubusercontent.com/catppuccin/hyprland/refs/heads/main/themes/mocha.conf"
  ".config/yazi/theme.toml" "https://raw.githubusercontent.com/catppuccin/yazi/refs/heads/main/themes/mocha/catppuccin-mocha-mauve.toml"
  ".config/waybar/logo.png" "https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png"
  ".config/wlogout/catppuccin-mocha-mauve.css" "https://raw.githubusercontent.com/catppuccin/wlogout/refs/heads/main/themes/mocha/mauve.css"
-}}

{{- range $path, $url := $files_themes }}
["{{ $path }}"]
  type = "file"
  url = "{{ $url }}"
  refreshPeriod = "336h"
{{ end -}}

[".config/spicetify/Themes/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/spicetify/archive/refs/heads/main.tar.gz"
  stripComponents = 2
  refreshPeriod = "336h"
  include = ["*/catppuccin/**"]

[".zen/default/chrome"]
  type = "archive"
  url = "https://github.com/catppuccin/zen-browser/archive/refs/heads/main.tar.gz"
  stripComponents = 4
  refreshPeriod = "336h"
  include = ["*/themes/Mocha/Mauve/**"]

[".config/Kvantum/catppucin-mocha-mauve"]
  type = "archive"
  url = "https://github.com/catppuccin/kvantum/archive/refs/heads/main.tar.gz"
  stripComponents = 3
  refreshPeriod = "336h"
  include = ["*/themes/catppuccin-mocha-mauve/**"]

[".config/wlogout/icons"]
  type = "archive"
  url = "https://github.com/catppuccin/wlogout/archive/refs/heads/main.tar.gz"
  stripComponents = 5
  refreshPeriod = "336h"
  include = ["*/icons/wlogout/mocha/mauve/**"]