{{- if ne .chezmoi.os "darwin" }}
{{- range $name, $url := .extensions.spicetify }}
[".config/spicetify/Extensions/{{ $name }}.js"]
    type = "file"
    url = "{{ $url }}"
    refreshPeriod = "336h"
{{- end }}
{{- end }}

{{- if ne .chezmoi.os "linux" }}

{{- end }}