{{- range $path, $url := index (index .themes .selected_theme) "files" }}
["{{ $path }}"]
  type = "file"
  url = "{{ $url }}"
  refreshPeriod = "336h"
{{- end }}

[".config/spicetify/Themes/custom_theme"]
  type = "archive"
  url = "https://github.com/catppuccin/spicetify/archive/refs/heads/main.tar.gz"
  stripComponents = 2
  refreshPeriod = "336h"
  include = ["*/catppuccin/**"]

[".zen/default/chrome"]
  type = "archive"
  url = "https://github.com/catppuccin/zen-browser/archive/refs/heads/main.tar.gz"
  stripComponents = 4
  refreshPeriod = "336h"
  include = ["*/themes/Mocha/Mauve/**"]

[".config/Kvantum/custom-theme"]
  type = "archive"
  url = "https://github.com/catppuccin/kvantum/archive/refs/heads/main.tar.gz"
  stripComponents = 3
  refreshPeriod = "336h"
  include = ["*/themes/catppuccin-mocha-mauve/**"]

[".config/wlogout/icons"]
  type = "archive"
  url = "https://github.com/catppuccin/wlogout/archive/refs/heads/main.tar.gz"
  stripComponents = 5
  refreshPeriod = "336h"
  include = ["*/icons/wlogout/mocha/mauve/**"]

[".themes/custom-theme"]
  type = "archive"
  url = "https://github.com/catppuccin/gtk/releases/latest/download/catppuccin-mocha-mauve-standard+default.zip"
  stripComponents = 2
  refreshPeriod = "336h"
  include = ["*/catppuccin-mocha-mauve-standard+default/**"]