{{- $exts := dict
  "awww-switcher" "store.vicinae.awww-switcher"
  "arch-packages" "store.vicinae.arch-packages"
-}}
{{- range $repoName, $targetName := $exts }}
[".local/share/vicinae/extensions/{{ $targetName }}"]
  type = "archive"
  url = "https://github.com/vicinaehq/extensions/archive/refs/heads/main.tar.gz"
  exact = true
  stripComponents = 3
  refreshPeriod = "168h"
  include = ["*/extensions/{{ $repoName }}/**"]
{{ end -}}