{{- $exts := dict
  "ublock-origin" "uBlock0@raymondhill.net"
  "react-devtools" "@react-devtools"
  "styl-us" "{7a7a4a92-a2a0-41d1-9fd7-1e92480d612d}"
-}}

{{- range $slug, $id := $exts }}
[".zen/default/extensions/{{ $id }}.xpi"]
  type = "file"
  url = "https://addons.mozilla.org/firefox/downloads/latest/{{ $slug }}/latest.xpi"
  refreshPeriod = "168h"
{{ end -}}