{{ $packages := list
  "bat"
  "eza"
  "lazygit"
  "lazydocker"
  "curl"
  "wget"
  "fzf"
  "git"
  "jj"
  "jq"
  "ripgrep"
  "ly"
  "hyprland"
  "qt5-wayland"
  "qt6-wayland"
  "xdg-desktop-portal-hyprland"
  "hyprpolkitagent"
  "hyprlock"
  "hyprpicker"
  "waybar"
  "thunar"
  "kitty"
  "vicinae-bin"
  "dbeaver-ce-bin"
  "zen-browser-bin"
  "mongodb-compass-bin"
  "redisinsight-bin"
  "visual-studio-code-bin"
  "zed"
  "obsidian-bin"
  "localsend-bin"
  "pinta"
  "vesktop-bin"
  "spicetify-cli"
  "spotify-launcher"
  "onlyoffice-bin"
  "tailscale"
  "starship"
  "awww-git"
  "fastfetch"
  "btop"
  "yazi"
  "cava"
  "bun-bin"
  "uv"
  "tldr"
  "cmatrix"
  "cbonsai"
  "pipes-rs"
  "docker"
  "docker-compose" -}}

#!/bin/bash

set -eufo pipefail

if ! command -v yay &> /dev/null; then
  sudo pacman -S --needed git base-devel
  git clone https://aur.archlinux.org/yay.git /tmp/yay
  cd /tmp/yay
  makepkg -si --noconfirm
  cd -
  rm -rf /tmp/yay
fi

yay
yay -S --noconfirm {{ $packages | join " " }}