#!/bin/bash

set -eufo pipefail

for service in {{- range .services.enable }} {{ . }}{{ end }}; do
  sudo systemctl enable "$service"
done

for service in {{- range .services.disable }} {{ . }}{{ end }}; do
  sudo systemctl disable "$service"
done