#!/bin/bash

set -eufo pipefail

# Configure Ly
chezmoi execute-template < {{ .chezmoi.sourceDir }}/dot_config/ly/config.ini.tmpl | sudo tee /etc/ly/config.ini > /dev/null

# Set ZSH as default shell
chsh -s /usr/bin/zsh

# Create user home dirs
xdg-user-dirs-update