#!/bin/bash

# packages.toml hash: {{ include "{{ .chezmoi.sourceDir }}/home/.chezmoidata/packages.toml" | sha256sum }}

set -euo pipefail

# Mise repo
sudo dnf copr enable jdxcode/mise

# VSCode repo
sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'

sudo dnf install -y {{ .packages.install.dnf | uniq | join " " }}
sudo dnf remove -y {{ .packages.remove.dnf | uniq | join " " }}

{{ range .packages.flatpaks -}}
flatpak install flathub -y {{ . }}
{{ end -}}
