#!/bin/bash

# packages.toml hash: {{ include "{{ .chezmoi.sourceDir }}/home/.chezmoidata/packages.toml" | sha256sum }}

set -euo pipefail

sudo dnf install -y {{ .packages.install.dnf | uniq | join " " }}
sudo dnf remove -y {{ .packages.remove.dnf | uniq | join " " }}

{{ range .packages.flatpaks -}}
flatpak install flathub -y {{ . }}
{{ end -}}
