#!/bin/bash

set -euo pipefail

# Set Fish as default shell
chsh -s /usr/bin/fish

# Cleanup
sudo dnf clean all
sudo dnf autoremove -y

# Hostname
{{- $fedora_type := "" -}}
{{- if .is_laptop -}}
    {{- $fedora_type = "laptop" -}}
{{- else -}}
    {{- $fedora_type = "desktop" -}}
{{- end -}}
sudo hostnamectl set-hostname "fedora-{{ $fedora_type }}"

# COSMIC_DATA_CONTROL_ENABLED flag
SESSION_FILE="/usr/share/wayland-sessions/cosmic.desktop"
if [ -f "$SESSION_FILE" ] && ! grep -q "COSMIC_DATA_CONTROL_ENABLED" "$SESSION_FILE"; then
    sudo sed -i 's|^Exec=/usr/bin/start-cosmic|Exec=env COSMIC_DATA_CONTROL_ENABLED=1 /usr/bin/start-cosmic|' "$SESSION_FILE"
fi

# Install mise packages
mise install