#!/bin/bash

set -eufo pipefail

if ! command -v yay &> /dev/null; then
  sudo pacman -S --needed git base-devel
  git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
  cd /tmp/yay-bin
  makepkg -si --noconfirm
  cd -
  rm -rf /tmp/yay-bin
fi

yay -Sy
yay -S --needed --noconfirm --sudoloop {{ .packages.linux | uniq | join " " }}