#!/bin/bash

# services.toml hash: {{ include ".chezmoidata/services.toml" | sha256sum }}

set -euo pipefail

{{ range .services.enable.global -}}
sudo systemctl enable --now {{ . }}
{{ end -}}

{{ range .services.enable.user -}}
systemctl --user enable --now {{ . }}
{{ end -}}

{{ range .services.disable.global -}}
sudo systemctl disable --now {{ . }}
{{ end -}}

{{ range .services.disable.user -}}
systemctl --user disable --now {{ . }}
{{ end -}}