#!/bin/bash

set -eufo pipefail

SOURCE_CACHE="{{ .chezmoi.homeDir }}/.cache/vicinae-build"
FINAL_DEST="{{ .chezmoi.homeDir }}/.local/share/vicinae/extensions"

{{- $extensions := list "awww-switcher" "arch-packages" }}

{{ range $ext := $extensions }}
SRC="$SOURCE_CACHE/store.vicinae.{{ $ext }}"
DEST="$FINAL_DEST/store.vicinae.{{ $ext }}"
BUILD_OUTPUT="$SOURCE_CACHE/{{ $ext }}"

if [ -d "$SRC" ]; then
  cd "$SRC"

  bun install && bun run build > /dev/null

  if [ $? -eq 0 ]; then
    if [ -d "$BUILD_OUTPUT" ]; then
      mkdir -p "$DEST"
      rm -rf "${DEST:?}"/*
      cp -r "$BUILD_OUTPUT"/* "$DEST/"

      rm -rf "$SRC"
      rm -rf "$BUILD_OUTPUT"
    fi
  fi
fi
{{ end }}