#!/bin/bash

# packages.toml hash: {{ include ".chezmoidata/packages.toml" | sha256sum }}

set -euo pipefail

sudo dnf install -y {{ .packages.install.dnf | uniq | join " " }}

flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
{{ range .packages.install.flatpak -}}
flatpak install -y {{ . }}
{{ end -}}