#!/bin/bash

set -eufo pipefail

# Configure Ly
chezmoi execute-template < {{ .chezmoi.sourceDir }}/dot_config/ly/config.ini.tmpl | sudo tee /etc/ly/config.ini > /dev/null

# Set ZSH as default shell
chsh -s /usr/bin/zsh

# Create user home dirs
xdg-user-dirs-update

# Create Wallpapers and Screenshots dirs
mkdir -p "$HOME/Pictures/Wallpapers" && mkdir -p "$HOME/Pictures/Screenshots"

# GTK theme
# gsettings set org.gnome.desktop.interface gtk-theme "custom-theme"
gsettings set org.gnome.desktop.interface color-scheme "prefer-dark"