<?xml version="1.0" encoding="UTF-8"?>
<actions>
<action>
	<icon>utilities-terminal</icon>
	<name>Open terminal here</name>
	<submenu></submenu>
	<unique-id>1764702010862313-1</unique-id>
	<command>{{ .terminal }} --working-directory %f</command>
	<description>Open a terminal in the selected directory</description>
	<range></range>
	<patterns>*</patterns>
	<startup-notify/>
	<directories/>
</action>
</actions>