[Appearance]
color_scheme_path={{ .chezmoi.homeDir }}/.config/qt5ct/style-colors.conf
custom_palette=true
standard_dialogs=xdgdesktopportal
style=kvantum

[Fonts]
fixed="{{ .font_mono }}, 11"
general="{{ .font }}, 11"