[Appearance]
color_scheme_path={{ joinPath .chezmoi.homeDir ".config/qt6ct/colors/noctalia.conf" }}
custom_palette=true
icon_theme=Papirus-Dark
standard_dialogs=default
style=Fusion

[Fonts]
fixed="{{ .mono_font }}, 11"
general="{{ .mono_font }}, 11"
