[general]
import = ["~/.config/alacritty/themes/noctalia.toml"]

[window]
padding = { x = 14, y = 14 }

[font]
normal = { family = {{ .mono_font | quote }} }
size   = 11

[scrolling]
history    = 10000
multiplier = 7

[cursor]
style = { shape = "Beam", blinking = "On" }

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"
