animation = colormix
colormix_col1 = #4805df
colormix_col2 = #8b06e1
colormix_col3 = #0e0e11

bigclock = en
clock = %d/%m/%y

brightness_down_key = null
brightness_up_key = null

clear_password = true