animation = colormix
colormix_col1 = 0x0011111b
colormix_col2 = 0x001e1e2e
colormix_col3 = 0x00cba6f7

bigclock = en
clock = %d/%m/%y

brightness_down_key = null
brightness_up_key = null

clear_password = true

edge_margin = 2

box_title = {{ .name }}