{{- $exts := dict
  "vicinae/dashboard-icons" "store.vicinae.dashboard-icons"
  "raycast/gif-search" "store.raycast.gif-search"
  "vicinae/color-converter" "store.vicinae.color-converter"
  "vicinae/awww-switcher" "store.vicinae.awww-switcher"
-}}

{{- range $apiPath, $targetName := $exts }}
[".local/share/vicinae/extensions/{{ $targetName }}"]
  type = "archive"
  url = "https://api.vicinae.com/v1/store/{{ $apiPath }}/download"
  exact = true
  refreshPeriod = "336h"
{{ end -}}
