{{- $exts := dict
  "aurelleb/dashboard-icons" "store.vicinae.dashboard-icons"
  "costeer/color-converter" "store.vicinae.color-converter"
  "sovereign/awww-switcher" "store.vicinae.awww-switcher"
-}}

{{- range $apiPath, $targetName := $exts }}
[".local/share/vicinae/extensions/{{ $targetName }}"]
  type = "archive"
  url = "https://api.vicinae.com/v1/store/{{ $apiPath }}/download"
  exact = true
  stripComponents = 1
  refreshPeriod = "336h"
{{ end -}}
