{{ if eq .chezmoi.os "linux" -}}
[".local/share/fonts/NotoColorEmoji.ttf"]
type = "file"
url = "https://raw.githubusercontent.com/googlefonts/noto-emoji/v2026-09-24-unicode18_0/2D/fonts/NotoColorEmoji.ttf"
{{- end }}
