[settings]
color_theme = "catppuccin"

[tools]
{{- range .packages.install.mise }}
{{- if contains "@" . }}
{{- $parts := splitList "@" . }}
{{ index $parts 0 }} = "{{ index $parts 1 }}"
{{- else }}
{{ . }} = "latest"
{{- end }}
{{- end }}
