{{ $home := .chezmoi.homeDir -}}

@import url("{{ $home }}/.config/wlogout/catppuccin-mocha-mauve.css");

#lock {
  background-image: url("{{ $home }}/.config/wlogout/icons/lock.svg");
}

#logout {
  background-image: url("{{ $home }}/.config/wlogout/icons/logout.svg");
}

#shutdown {
  background-image: url("{{ $home }}/.config/wlogout/icons/shutdown.svg");
}

#reboot {
  background-image: url("{{ $home }}/.config/wlogout/icons/reboot.svg");
}